body
  .container
    .hover  
      .filter
      .vert
      .hor
      .text
        span#cannon cannon 
        span#beach beach
        
    .rotate
      .filter 
        p The Hopetoun Falls is a waterfall across the Aire River that is located in The Otways region of Victoria, Australia.
      .title 
        p Hopetoun Falls
    
      